<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__map">
        <iframe class="wow fadeIn" src="https://yandex.ru/map-widget/v1/?um=constructor%3A6e70c979d315497d9c694046b828b2f14839148a0ec392c855b3fd3dd3d05603&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
      </div>
      <div class="footer__title">
        <div>
          <h2 class="wow fadeInUp">Бюро</h2>
          <div class="header__button desktop">
            <button class="open-modal-btn desktop">Рассчитать проект</button>
          </div>
        </div>
        <span class="wow fadeInUp">КОМПЛЕКТАЦИИ</span>
        <div class="mobile">
          <button class="open-modal-btn mobile">Рассчитать проект</button>
        </div>
      </div>
      <div class="footer__nav">
        <div class="footer__nav--left">
          <span class="wow fadeInUp">Подпишитесь на наши новости</span>
          <div class="footer__input wow fadeInUp">
            <input type="email" class="footer__field" placeholder="Введите ваш E-mail">
            <button class="footer__button">Отправить</button>
          </div>
        </div>
        <div class="footer__nav--middle">
          <a class="wow fadeInUp" href="#about">о нас</a>
          <a class="wow fadeInUp" href="#about">Проекты под ключ</a>
          <a class="wow fadeInUp" href="#about">Ваше преимущество</a>
        </div>
        <div class="footer__nav--right">
          <a class="wow fadeInUp" href="#about">Ваш навигатор</a>
          <a class="wow fadeInUp" href="#about">Нематериальные ценности </a>
          <a class="wow fadeInUp" href="#team">Команда</a>
        </div>
      </div>
      <div class="footer__contact">
        <span class="wow fadeInUp">Copyright 2024 ZHOROV All Rights Reserved</span>
        <a class="wow fadeInUp" href="mailto:example@gmail.ru">example@gmail.ru</a>
        <a class="wow fadeInUp" href="tel:+79999999999">+7 (999) 999-99-99</a>
        <p class="wow fadeInUp"><span>WhatsApp:</span> +7 (999) 999-99-99</p>
      </div>
    </div>
  </div>
</footer>
