<header class="header">
  <div class="header__gradient">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__top">
          <div class="header__left">
            <img src="/assets/images/logo.svg" alt="">
          </div>
          <div class="header__right">
            <a href="">
              <div class="header__social desktop">
                <img src="/assets/images/whatsappIcon.svg" alt="">
                <span>WhatsApp</span>
              </div>
            </a>
            <div class="header__button">
              <button class="open-modal-btn">Рассчитать проект</button>
            </div>
            <div class="header__burger">
            </div>
          </div>
        </div>
        <div class="header__bottom">
          <div class="header__title">
            <h1 class="wow fadeInUp">Бюро комплектации</h1>
            <h4 class="wow fadeInUp">Сохраняем самое ценное</h4>
            <span class="wow fadeInUp">– ваше время</span> 
          </div>
          <p class="mobile">Комплектуем объекты по вашим дизайн-проектам. Изготавливаем мебель на заказ</p>
          <div class="header__subTitle">
            <span>Просмотреть проекты</span>
            <p class="desktop">Комплектуем объекты по вашим дизайн-проектам. Изготавливаем мебель на заказ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
